.wrapper {
  margin: auto;
  width: 33%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "headerBlock"
    "imageBlock"
    "detailBlock"
    "postCommentBlock";
  justify-items: center;
  border: solid 1px rgba(100, 200, 233, 0.4);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.headerBlock {
  justify-self: start;
  display: flex;
  /* align-content: center; */
  height: 35px;
}
.headerBlock > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-self: center;
  /* padding-right: 2px;
  padding-left: 2px; */
  padding: 2px 2px 2px 2px;
  /* margin-left: 0; */
}
.headerBlock a {
  align-self: center;
}
.detailBlock {
  grid-area: detailBlock;
  border-top: solid 1px black;
  width: 100%;
}

.imageBlock {
  width: 100%;
  height: 370px;
  display: flex;
  justify-content: center;
}
.imageBlock > img {
  min-width: auto;
  max-width: 100%;
  min-height: auto;
  max-height: 370px;
}
.captionBlock p {
  display: inline;
  padding-left: 0.5em;
}

.topComments p {
  display: inline;
  padding-left: 0.5em;
}

/* .iconBlock{
  grid-area: iconBlock;
}

.likeBlock {
  grid-area: likeBlock;
}

.captionBlock {
  grid-area: captionBlock;
}

.commentBlock {
  grid-area: commentBlock;
}

.topComments {
  grid-area: topComments;
} */


/* Post comment styles */
.postCommentBlock{
  justify-self: start;
  width: 100%;
  border-top: solid 1px black;
}

.postCommentBlock form {
  display: flex;
  justify-content: space-between;
}

.postCommentBlock form textarea {
  border: none;
  resize: none;
  width: 88%;
}

.postCommentBlock form button {
  /* margin: auto; */
  color: blue;
  border: none;
  background-color: rgba(100, 200, 233, 0);
  padding-right: 0.9em;
  cursor: pointer;
}

/* Icon styles */
.iconBlock button{
  margin-top: 0.5em;
  margin-left: 0.5em;
}


/* Likes styles  */
.likeBlock p{
  margin-left: 0.5em;
}

/* Caption styles  */
.captionBlock a{
  margin-left: 0.5em;
}

/* comment styles */
.commentBlock > a{
  margin-left: 0.5em;
}

.topComments a{
 margin-left: 0.5em;
 /* padding-bottom: 0.5em; */
}

.topComments{
  padding-bottom: 0.3em;
}
