.wrapper {
  margin: auto;
  width: 33%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "headerBlock"
    "imageBlock"
    "detailBlock"
    "postCommentBlock";
  justify-items: center;
  border: solid 1px rgba(100, 200, 233, 0.4);
  border-radius: 5px;
}
.headerBlock > img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.detailBlock {
  grid-area: detailBlock;
  border-top: solid 1px black;
  width: 100%;
  /* display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "iconBlock"
    "likeBlock"
    "captionBlock"
    "commentBlock"
    "topComments";
    margin: auto; */
}

.imageBlock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.imageBlock > img {
  width: auto;
}
.captionBlock p {
  /* margin: auto; */
  /* justify-self: center; */
  display: inline;
  padding-left: 0.5em;
}

.topComments p {
  display: inline;
  padding-left: 0.5em;
}

/* .iconBlock {
  grid-area: iconBlock;
}

.likeBlock {
  grid-area: likeBlock;
}

.captionBlock {
  grid-area: captionBlock;
}

.commentBlock {
  grid-area: commentBlock;
}

.topComments {
  grid-area: topComments;
} */

.postCommentBlock {
  justify-self: start;
  width: 100%;
  border-top: solid 1px black;
}

.postCommentBlock form {
  display: flex;
  justify-content: space-between;
}

.postCommentBlock form textarea {
  border: none;
  resize: none;
  width: 88%;
}

.postCommentBlock form button {
  /* margin: auto; */
  color: blue;
  border: none;
  background-color: rgba(100, 200, 233, 0);
  padding-right: 0.9em;
  cursor: pointer;
}
