.wrapper {
  margin: auto;
  margin-top: 3em;
  width: 33%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "headerBlock"
    "imageBlock"
    "detailBlock"
    "postCommentBlock";
  justify-items: center;
  border: solid 1px rgba(100, 200, 233, 0.4);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(245, 245, 245, 0.6);
}
.headerBlock {
  justify-self: start;
  display: flex;
  justify-content: space-between;
  height: 35px;
  width: 100%;
  border-bottom: solid 0.5px rgba(100, 100, 100, 0.5);
  z-index: 1;
}
.headerBlock > div > img {
  width: 33px;
  height: 100%;
  align-self: center;
  padding: 2px 2px 2px 2px;
  margin-left: 3px;
}
.headerBlock a {
  align-self: center;
  padding-left: 2px;
}
.detailBlock {
  grid-area: detailBlock;
  border-top: solid 1px black;
  width: 100%;
}
.wrapper a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.imageBlock {
  width: 100%;
  height: 348px;
  display: flex;
  justify-content: center;
  background-color: black;
}
.imageBlock > img {
  min-width: auto;
  max-width: 100%;
  min-height: auto;
  max-height: 348px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.captionBlock div {
  display: inline-block;
  padding-left: 0.5em;
  min-width: auto;
  max-width: 370px;
  /* background-color: black; */
  /* height: 50px; */
}

.topComments p {
  display: inline;
  padding-left: 0.5em;
}

/* Post comment styles */
.postCommentBlock {
  justify-self: start;
  width: 100%;
  border-top: solid 0.1px rgba(12, 12, 12, 0.08);
  height: 70px;
}

.postCommentBlock form {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.postCommentBlock form textarea {
  border: none;
  resize: none;
  width: 88%;
  padding: 3px 0 0 3px;
  background-color: rgba(245, 245, 245, 0.6);
}

.postCommentBlock form button {
  color: blue;
  border: none;
  background-color: rgba(100, 200, 233, 0);
  padding-right: 0.9em;
  cursor: pointer;
}

/* Icon styles */
.iconBlock button {
  margin-top: 0.3em;
  margin-left: 0.5em;
  margin-bottom: 1px;
}

/* Likes styles  */
.likeBlock p {
  margin-top: 2px;
  margin-left: 0.5em;
  font-size: small;
}

/* Caption styles  */
.captionBlock a {
  font-size: small;
}
.captionBlock {
  display: flex;
  width: 100%;
  padding-bottom: 2em;
}
.hi {
  align-self: flex-start;
}
.captionBlock p {
  font-size: small;
  margin: 3px 0 0 0;
  word-wrap: break-word;
}
/* comment styles */
.commentBlock > a {
  font-size: small;
  margin-left: 0.5em;
}
.commentBlock > a:hover {
  color: gray;
}
/* .comment {
  display: flex;
}
.aTagDivComment {
  align-self: flex-start;
}
.aTagDivComment a {
  font-size: small;
  margin-left: 0.5em;
}
.pTagDivComment {
  width: 370px;
}
.pTagDivComment p {
  font-size: small;
  margin: 3px 0 0 0;
  word-wrap: break-word;
} */

.comment a {
  margin-left: 0.5em;
  font-size: small;
}

.comment {
  font-size: small;
  padding-bottom: 0.3em;
}

.readMoreSpan,
.collapseSpan {
  color: black;
  font-size: smaller;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid black;
}
/* .collapseSpan {
  color: blue;
  font-size: smaller;
  border-bottom: 1px solid black;
} */
.collapseSpan:hover,
.readMoreSpan:hover {
  color: darkgray;
  border-bottom: 1px solid darkgray;
}
/* .readMoreSpan:hover {
  color: red;
  border-bottom: 1px solid red;
} */
.topComments a {
  margin-left: 0.5em;
  font-size: small;
}

.topComments {
  font-size: small;
  padding-bottom: 0.3em;
}

#CreatePostButton {
  position: absolute;
  width: 100%;
}
#CreatePostButton div {
  background-color: grey;
  margin-right: 25%;
  float: right;
  width: 8%;
  border-radius: 5px;
  box-shadow: rgb(49, 49, 49) 5px 5px 5px;
  cursor: pointer;
  margin-top: 3em;
  position: fixed;
  margin-left: 67%;
}
#CreatePostButton div p {
  color: white;
  padding-right: 15%;
  padding-left: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.user-loc {
  display: flex;
  flex-direction: column;
}

.user-loc > a {
  position: relative;
  left: -10px;
}
.location-text {
  font-size: 0.8em;
}

.flex {
  display: flex;
}
