/* TODO Add site wide styles */
/* Navbar styles */
#root > div {
  margin-top: 4em;
  position: absolute;
  width: 100%;
}

nav {
  width: 100%;
  height: 3em;
  background-color: rgba(245, 245, 245, 0.6);
  padding-top: 0em;
  margin-bottom: 2em;
  position: fixed;
  z-index: 100;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 1em;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li .active {
  text-decoration: underline;
  color: black;
}
nav ul li button {
  border: none;
  background-color: rgba(100, 200, 233, 0);
  padding-right: 1em;
  cursor: pointer;
  font-size: 16px;
}

.searchDiv {
    background-color: black;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
   
}

.searchResult {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  margin-top: 5px;
}

.searchResult >p {
  color: white;
}
