#signupForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    box-shadow: 6px 6px silver;
    border-radius: 10px;
    width: 450px;
    margin: auto;
}

#signup-logo{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: silver;
    font-size: 42px;
    margin-bottom: 8px;
}

.signup-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup-fields > input {
    width: 80%;
    height: 26px;
    border-radius: 2px;
}

#signup-button{
  background: silver;
  width: 81%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 4px;
  border: rgb(110, 110, 110) 1px solid;

  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  font-weight: 800;
  font-size: 0.8em;
}

#signup-button:hover {
  background: rgb(102, 102, 102);
}