.allMessagesContainer {
  margin-left: 200px;
  border: 1px solid;
  width: 300px !important;
  height: 547px;
  border-radius: 10px;
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-bottom-right-radius: 0;
}
.inboxDisplayDiv {
  /* border: 1px solid rgba(0, 0, 0, 0.438); */
  height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.315);
}
.inboxDisplayDiv h2 {
  padding-top: 2px;
  margin: 0 0 0 12px;
}

.inboxDisplayDiv div {
  position: absolute;
  top: 5px;
  left: 83.5%;
  width: 45px;
  text-align: center;
  background-color: rgba(0, 0, 255, 0.055);
  border: 1px solid rgba(0, 0, 0, 0.068);
  border-radius: 10px;
  color: rgba(18, 23, 53, 0.418);
}
.listOfMessagesDiv {
  display: flex;
  /* border: 1px solid; */
  background-color: rgba(0, 0, 0, 0.466);
  margin-top: 4px;
}
.listOfMessagesDiv:nth-child(even) {
  background-color: rgba(39, 34, 34, 0.295);
}
.listOfMessagesDiv img {
  height: 50px;
  width: 50px;
  border-radius: 80px;
  margin-left: 3px;
  margin-right: 2px;
  padding: 3px 0 3px 0;
  margin-bottom: 4px;
}

.messageDetail {
  margin-left: 5px;
  align-self: center;
}

.messageDetail p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2px;
}
