.editProfile {
  display: grid;
  grid-template-columns: auto 1fr;
}
.editProfileMain {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}
/*  */
.editProfileMain form {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 220px;
  /* margin-bot */
  /* background-color: #121f18; */
}
.editProfileMain form input:focus {
  outline: none;
}
.editProfileMain form input {
  margin-bottom: 40px;
  height: 30px;
  border: none;
  border-bottom: 2px solid #165057;
}

::placeholder {
  color: #165057;
}
.editProfileMain form button {
  margin-bottom: 0px;
  margin-left: 70px;
  height: 60px;
  background-color: #165057;
  color: white;
  width: 60px;
  border-radius: 90%;
  transform: rotate(20deg);
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translate(0, 0px);
  }

  20% {
    transform: translate(-80px, -50px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  90% {
    transform: translate(105px, -50px);
  }
}

.cancelButton {
  height: 30px;
  width: 170px !important;
  background-color: #165057;
  color: white;
  border-radius: 125px;
  animation: move 3s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(70px, 0px);
  }

  90% {
    transform: translate(-15px, -0px);
  }
}

.editProfileMain {
  width: 220px;
  display: inline-block;
}

.editProfile img {
  /* display: flex; */
  /* row-gap: 0%; */
  border: 2px solid black;
  border-left: 9px solid black;
  width: 282.95px;
  height: 189.99px;
}
.editImageDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 18px;
  background-color: black;
}
